In [1]:
import json
import os
import stopit
import sys
import cherrypy
from pymongo import MongoClient
import time
import dns
import pandas as pd

In [30]:
# uri = "mongodb://cool_usr:cool_pwd@127.0.0.1/climatechangers"
uri = "mongodb+srv://cool_usr:cool_pwd@becoolcluster.xv0y0.mongodb.net/test?retryWrites=true&w=majority"
uri = "mongodb+srv://cool_usr:cool_pwd@becoolcluster.xv0y0.mongodb.net/BeCool"
client = MongoClient(uri)
# Creating database if it does not exist
db = client["BeCool"]
# Creating a collection (aka table)
stock_table = db["Inventory"]

In [31]:
client

MongoClient(host=['becoolcluster-shard-00-00.xv0y0.mongodb.net:27017', 'becoolcluster-shard-00-02.xv0y0.mongodb.net:27017', 'becoolcluster-shard-00-01.xv0y0.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-m94ezi-shard-0', ssl=True)

In [32]:
result = db.users.find()
for document in result:
    print(document)

In [19]:
stock_list = pd.read_csv('./data_gen/StockInfo.csv')
stock_list.head()

  Location Category         Product Name  Price Unit   CO2
0     Rewe   apples   conventional apple   1.00  1KG   5.0
1     Rewe   apples            bio apple   2.00  1KG   4.0
2     Rewe  bananas  conventional banana   0.50  1KG  10.0
3     Rewe  bananas           bio banana   0.75  1KG   9.0
4     Rewe     beef                 beef   2.99  1KG  29.0

In [20]:
converted_stock_dict = pd.DataFrame.to_dict(stock_list, orient="records")
converted_stock_dict

[{'Location': 'Rewe',
  'Category': 'apples',
  'Product Name': 'conventional apple',
  'Price': 1.0,
  'Unit': '1KG',
  'CO2': 5.0},
 {'Location': 'Rewe',
  'Category': 'apples',
  'Product Name': 'bio apple',
  'Price': 2.0,
  'Unit': '1KG',
  'CO2': 4.0},
 {'Location': 'Rewe',
  'Category': 'bananas',
  'Product Name': 'conventional banana',
  'Price': 0.5,
  'Unit': '1KG',
  'CO2': 10.0},
 {'Location': 'Rewe',
  'Category': 'bananas',
  'Product Name': 'bio banana',
  'Price': 0.75,
  'Unit': '1KG',
  'CO2': 9.0},
 {'Location': 'Rewe',
  'Category': 'beef',
  'Product Name': 'beef',
  'Price': 2.99,
  'Unit': '1KG',
  'CO2': 29.0},
 {'Location': 'Rewe',
  'Category': 'beef',
  'Product Name': 'beef south america',
  'Price': 3.99,
  'Unit': '1KG',
  'CO2': 41.0},
 {'Location': 'Rewe',
  'Category': 'pork',
  'Product Name': 'pork',
  'Price': 3.99,
  'Unit': '1KG',
  'CO2': 6.0},
 {'Location': 'Rewe',
  'Category': 'pork',
  'Product Name': 'pork imported',
  'Price': 3.7,
  'Unit': '1KG',
  'CO2': 6.5},
 {'Location': 'Rewe',
  'Category': 'chicken',
  'Product Name': 'bio chicken',
  'Price': 3.99,
  'Unit': '1KG',
  'CO2': 2.8},
 {'Location': 'Rewe',
  'Category': 'chicken',
  'Product Name': 'chicken',
  'Price': 2.99,
  'Unit': '1KG',
  'CO2': 3.7},
 {'Location': 'Rewe',
  'Category': 'eggs',
  'Product Name': 'eggs',
  'Price': 1.49,
  'Unit': '1KG',
  'CO2': 2.0},
 {'Location': 'Rewe',
  'Category': 'eggs',
  'Product Name': 'bio eggs',
  'Price': 2.19,
  'Unit': '1KG',
  'CO2': 1.5},
 {'Location': 'Rewe',
  'Category': 'carrot',
  'Product Name': 'carrot',
  'Price': 1.49,
  'Unit': '1KG',
  'CO2': 0.08},
 {'Location': 'Rewe',
  'Category': 'lettuce',
  'Product Name': 'lettuce',
  'Price': 0.99,
  'Unit': '1KG',
  'CO2': 1.05},
 {'Location': 'Rewe',
  'Category': 'lettuce',
  'Product Name': 'bio lettuce',
  'Price': 1.79,
  'Unit': '1KG',
  'CO2': 0.26},
 {'Location': 'Rewe',
  'Category': 'lettuce',
  'Product Name': 'open field lettuce',
  'Price': 1.99,
  'Unit': '1KG',
  'CO2': 0.14},
 {'Location': 'Rewe',
  'Category': 'melon',
  'Product Name': 'melon',
  'Price': 2.99,
  'Unit': '1KG',
  'CO2': 1.0},
 {'Location': 'Rewe',
  'Category': 'melon',
  'Product Name': 'bio melon',
  'Price': 3.99,
  'Unit': '1KG',
  'CO2': 0.3},
 {'Location': 'Rewe',
  'Category': 'oranges',
  'Product Name': 'oranges',
  'Price': 1.99,
  'Unit': '1KG',
  'CO2': 0.35},
 {'Location': 'Rewe',
  'Category': 'oranges',
  'Product Name': 'bio oranges',
  'Price': 2.49,
  'Unit': '1KG',
  'CO2': 0.25},
 {'Location': 'Rewe',
  'Category': 'pepper',
  'Product Name': 'pepper',
  'Price': 1.99,
  'Unit': '1KG',
  'CO2': 0.48},
 {'Location': 'Rewe',
  'Category': 'potatoes',
  'Product Name': 'potatoes',
  'Price': 1.49,
  'Unit': '1KG',
  'CO2': 0.35},
 {'Location': 'Rewe',
  'Category': 'potatoes',
  'Product Name': 'bio potatoes',
  'Price': 1.99,
  'Unit': '1KG',
  'CO2': 0.18},
 {'Location': 'Rewe',
  'Category': 'potatoes',
  'Product Name': 'local potatoes',
  'Price': 2.25,
  'Unit': '1KG',
  'CO2': 0.12}]

In [48]:
for item in converted_stock_dict:
    print(item["_id"])
    db.stock_table.update_one({"_id": item["_id"]}, {"$set": {"Price": item["Price"]}})

603b6ad568c918e62f82a211
603b6ad568c918e62f82a212
603b6ad568c918e62f82a213
603b6ad568c918e62f82a214
603b6ad568c918e62f82a215
603b6ad568c918e62f82a216
603b6ad568c918e62f82a217
603b6ad568c918e62f82a218
603b6ad568c918e62f82a219
603b6ad568c918e62f82a21a
603b6ad568c918e62f82a21b
603b6ad568c918e62f82a21c
603b6ad568c918e62f82a21d
603b6ad568c918e62f82a21e
603b6ad568c918e62f82a21f
603b6ad568c918e62f82a220
603b6ad568c918e62f82a221
603b6ad568c918e62f82a222
603b6ad568c918e62f82a223
603b6ad568c918e62f82a224
603b6ad568c918e62f82a225
603b6ad568c918e62f82a226
603b6ad568c918e62f82a227
603b6ad568c918e62f82a228

In [33]:

db.stock_table.insert_many(converted_stock_dict)

In [43]:
result = db.stock_table.find({"Location": 'Rewe'})
result = db.stock_table.find({"Price": 3.7})
for r in result:
    print(r["_id"])

603b6ad568c918e62f82a218

In [42]:
db.stock_table.find_one()

{'_id': ObjectId('603b6ad568c918e62f82a211'),
 'Location': 'Rewe',
 'Category': 'apples',
 'Product Name': 'conventional apple',
 'Price': 1.0,
 'Unit': '1KG',
 'CO2': 5.0}

In [51]:
for d in db.stock_table.find({}):
    print(d)

{'_id': ObjectId('603b6ad568c918e62f82a211'), 'Location': 'Rewe', 'Category': 'apples', 'Product Name': 'conventional apple', 'Price': 1.0, 'Unit': '1KG', 'CO2': 5.0}
{'_id': ObjectId('603b6ad568c918e62f82a212'), 'Location': 'Rewe', 'Category': 'apples', 'Product Name': 'bio apple', 'Price': 2.0, 'Unit': '1KG', 'CO2': 4.0}
{'_id': ObjectId('603b6ad568c918e62f82a213'), 'Location': 'Rewe', 'Category': 'bananas', 'Product Name': 'conventional banana', 'Price': 0.5, 'Unit': '1KG', 'CO2': 10.0}
{'_id': ObjectId('603b6ad568c918e62f82a214'), 'Location': 'Rewe', 'Category': 'bananas', 'Product Name': 'bio banana', 'Price': 0.75, 'Unit': '1KG', 'CO2': 9.0}
{'_id': ObjectId('603b6ad568c918e62f82a215'), 'Location': 'Rewe', 'Category': 'beef', 'Product Name': 'beef', 'Price': 2.99, 'Unit': '1KG', 'CO2': 29.0}
{'_id': ObjectId('603b6ad568c918e62f82a216'), 'Location': 'Rewe', 'Category': 'beef', 'Product Name': 'beef south america', 'Price': 3.99, 'Unit': '1KG', 'CO2': 41.0}
{'_id': ObjectId('603b6ad568c918e62f82a217'), 'Location': 'Rewe', 'Category': 'pork', 'Product Name': 'pork', 'Price': 3.99, 'Unit': '1KG', 'CO2': 6.0}
{'_id': ObjectId('603b6ad568c918e62f82a218'), 'Location': 'Rewe', 'Category': 'pork', 'Product Name': 'pork imported', 'Price': 3.7, 'Unit': '1KG', 'CO2': 6.5}
{'_id': ObjectId('603b6ad568c918e62f82a219'), 'Location': 'Rewe', 'Category': 'chicken', 'Product Name': 'bio chicken', 'Price': 3.99, 'Unit': '1KG', 'CO2': 2.8}
{'_id': ObjectId('603b6ad568c918e62f82a21a'), 'Location': 'Rewe', 'Category': 'chicken', 'Product Name': 'chicken', 'Price': 2.99, 'Unit': '1KG', 'CO2': 3.7}
{'_id': ObjectId('603b6ad568c918e62f82a21b'), 'Location': 'Rewe', 'Category': 'eggs', 'Product Name': 'eggs', 'Price': 1.49, 'Unit': '1KG', 'CO2': 2.0}
{'_id': ObjectId('603b6ad568c918e62f82a21c'), 'Location': 'Rewe', 'Category': 'eggs', 'Product Name': 'bio eggs', 'Price': 2.19, 'Unit': '1KG', 'CO2': 1.5}
{'_id': ObjectId('603b6ad568c918e62f82a21d'), 'Location': 'Rewe', 'Category': 'carrot', 'Product Name': 'carrot', 'Price': 1.49, 'Unit': '1KG', 'CO2': 0.08}
{'_id': ObjectId('603b6ad568c918e62f82a21e'), 'Location': 'Rewe', 'Category': 'lettuce', 'Product Name': 'lettuce', 'Price': 0.99, 'Unit': '1KG', 'CO2': 1.05}
{'_id': ObjectId('603b6ad568c918e62f82a21f'), 'Location': 'Rewe', 'Category': 'lettuce', 'Product Name': 'bio lettuce', 'Price': 1.79, 'Unit': '1KG', 'CO2': 0.26}
{'_id': ObjectId('603b6ad568c918e62f82a220'), 'Location': 'Rewe', 'Category': 'lettuce', 'Product Name': 'open field lettuce', 'Price': 1.99, 'Unit': '1KG', 'CO2': 0.14}
{'_id': ObjectId('603b6ad568c918e62f82a221'), 'Location': 'Rewe', 'Category': 'melon', 'Product Name': 'melon', 'Price': 2.99, 'Unit': '1KG', 'CO2': 1.0}
{'_id': ObjectId('603b6ad568c918e62f82a222'), 'Location': 'Rewe', 'Category': 'melon', 'Product Name': 'bio melon', 'Price': 3.99, 'Unit': '1KG', 'CO2': 0.3}
{'_id': ObjectId('603b6ad568c918e62f82a223'), 'Location': 'Rewe', 'Category': 'oranges', 'Product Name': 'oranges', 'Price': 1.99, 'Unit': '1KG', 'CO2': 0.35}
{'_id': ObjectId('603b6ad568c918e62f82a224'), 'Location': 'Rewe', 'Category': 'oranges', 'Product Name': 'bio oranges', 'Price': 2.49, 'Unit': '1KG', 'CO2': 0.25}
{'_id': ObjectId('603b6ad568c918e62f82a225'), 'Location': 'Rewe', 'Category': 'pepper', 'Product Name': 'pepper', 'Price': 1.99, 'Unit': '1KG', 'CO2': 0.48}
{'_id': ObjectId('603b6ad568c918e62f82a226'), 'Location': 'Rewe', 'Category': 'potatoes', 'Product Name': 'potatoes', 'Price': 1.49, 'Unit': '1KG', 'CO2': 0.35}
{'_id': ObjectId('603b6ad568c918e62f82a227'), 'Location': 'Rewe', 'Category': 'potatoes', 'Product Name': 'bio potatoes', 'Price': 1.99, 'Unit': '1KG', 'CO2': 0.18}
{'_id': ObjectId('603b6ad568c918e62f82a228'), 'Location': 'Rewe', 'Category': 'potatoes', 'Product Name': 'local potatoes', 'Price': 2.25, 'Unit': '1KG', 'CO2': 0.12}